
.header-content {
    // padding-top: 10rem;
    position: absolute;
    margin: 10rem auto auto;
    width: 100%;
}

.custom-name {
    font-family: 'Great Vibes';
    font-size: 2rem;
    margin-left: 0.65rem;
    color: rgb(16, 70, 102);
}

.landing-header {
    font-size: 62px;
    height: 25vh;
    width: 100%;
}

.custom-btn {
    color: white !important;
    border-color: rgba(255, 255, 255, 0.521) !important;
    background-color: rgba(16, 70, 102, 0.301) !important;
    margin-top: 2rem !important;
    padding: 0.6rem 1rem !important;
}

.custom-btn:hover {
    background-color: rgba(4, 238, 218, 0.65) !important;
    color: rgba(16, 70, 102, 0.60) !important;
    border-color: rgba(16, 70, 102, 0.603) !important;
    font-weight: 600;
}

.landing-content {
    padding-top: 10rem;

}

.header {
    height: 50vh;
    text-align: center;
    background: linear-gradient(35deg, rgb(0, 80, 126) 0%, rgb(4, 238, 218) 100%);
    color: white;
}