@import url(//fonts.googleapis.com/css?family=Lato:300:400);

$main-dark-blue: rgba(16, 70, 102, 0.60);
$main-light-turq: rgba(4, 238, 218, 0.65);

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
    margin: 1.4rem 0;
}

.footer {
    display: flex;
    justify-content: center;
}

/* SCROLL-BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $main-dark-blue;
    border-radius: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $main-light-turq; 
  }

.landing-header {
    font-size: 62px;
}

.custom-btn {
    color: white !important;
    border-color: rgba(255, 255, 255, 0.521) !important;
    background-color: rgba(16, 70, 102, 0.301) !important;
    margin-left: 3rem !important;
    padding: 0.6rem 1rem !important;
}

.custom-btn:hover {
    background-color: $main-light-turq !important;
    color: $main-dark-blue !important;
    border-color: rgba(16, 70, 102, 0.603) !important;
    font-weight: 600;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(35deg, rgb(0, 80, 126) 0%, rgb(4, 238, 218) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 35vh;
    width: 100%;
    margin: 0;
    padding: 5rem 0 0;
}

.flex {
    /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    margin-top: 15rem;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    flex-direction: column;
    display: flex;
    position: relative;
    text-align: center;
    background-color: white;
    margin-top: 5rem;
    padding-top: 2rem;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}

.custom-name {
    font-family: 'Playball';
    font-size: 1.5rem;
    margin-left: 0.65rem;
    color: rgb(6, 55, 83);
}